.contact
	%title
		Contact Us
	
	.label CHILE
	.zone
		.city Santiago
		.number +56 (2) 2234 0505
		.mail santiago@patersoncooke.com

	.label USA
	.zone
		.city Denver
		.number +1 (303) 800 6280
		.mail denver@patersoncooke.com