.contact
	%title
		Contact Us

	.label Australia
	.zone
		.city Perth
		.number +61 (8) 9467 2632
		.mail Perth@PatersonCooke.com


	.label Chile
	.zone
		.city Santiago
		.number +56 (2) 2234 0505
		.mail Santiago@PatersonCooke.com


	.label United Kingdom
	.zone
		.city Cornwall
		.number +44 (1209) 697 007
		.mail Cornwall@PatersonCooke.com


	.label Canada
	.zone
		.city Calgary
		.number +1 (403) 909 4646
		.mail Calgary@PatersonCooke.com
	.zone
		.city Sudbury
		.number +1 (705) 222 1720
		.mail Sudbury@PatersonCooke.com
	.zone
		.city Vancouver
		.number +1 (604) 687 7704
		.mail Vancouver@PatersonCooke.com

	.label South Africa
	.zone
		.city Cape Town
		.number +27 (0) 21 531 2955
		.mail CapeTown@PatersonCooke.com
	.zone
		.city Johannesburg
		.number +27 (0) 11 466 8295
		.mail Johannesburg@PatersonCooke.com

	.label Usa
	.zone
		.city Denver
		.number +1 (303) 800 6280
		.mail Denver@PatersonCooke.com