.disclaimer
	The toolkits developed for the Paterson & Cooke application provide useful tools for calculating slurry parameters. Care has been taken to ensure that the calculators provide the correct results for the given user input, but note that the calculator is not able to determine the validity of the input or interpret the output to ensure its applicability. Many factors have to be taken into account when working with solid-liquid mixtures and a mathematical result does not guarantee that a practical solution has been found.
	%br
	%br
	Any installation changes or new designs should be executed under the supervision of a qualified engineer. It is recommended that any design be certified by a Professional Engineer. Paterson & Cooke does not take any responsibility for any damage to equipment or any personnel injury as a result of any installation based on a design made using the toolkits provided.
