-@subrender == 'history'
-if @subrender == "history"
  s



-if @subrender == "mision"
  %h2.title
    Misión
  .text_show
    Nuestra Misión, es trabajar para proveer al comercio nacional insumos y servicios destinados al mercado de la construcción general, aportando soluciones de importante valor para nuestros clientes, que permitan entregar a nuestros socios retornos adecuados en su inversión y sostenibles en el tiempo.



-if @subrender == "vision"
  %h2.title
    Visión
  .text_show
    Nuestra visión es ser reconocidos como una empresa líder en la entrega de soluciones integrales, aportar al desarrollo sustentable del país y del sector de la construcción, con una acentuada capacidad de innovación que entrega soluciones diversas con productos y servicios de la mejor calidad, conformando en el tiempo un equipo humano y profesional de excelencia, caracterizarnos además por ser una organización responsable socialmente.