@charset "utf-8";
@import 'mixin';
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
body {
  background: asset-url('fondo1.JPG',image) center center no-repeat;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
h2{
  font-size: 18px;
  color: gray;
  font-weight: bold;
}
.left{text-align: left;}
.right{text-align: right;}
.wrapper{
  background: url('http://www.8pic.ir/images/00593862008515728068.jpg') center center no-repeat;
  background-size: cover;
  min-height: 1000px;
  position:  relative;
}

.show_actions{
  position: absolute;
  z-index: 10;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  bottom: -2000px;
  overflow: hidden;
  height: 0;
  @include transition(bottom, 0.3s);
  &.active{
    height: 100%;
    bottom: 0px;
    @include transition(bottom, 0.3s); 
  }
  .insert_action{
    margin-top: 68px;
    padding: 0 10px;
    overflow: scroll;
    max-height: 100%;
    box-sizing: border-box;
    padding-bottom: 115px;
  }
  .bottom_nav{
    background-color: #2c3e50;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    display: none;
    box-shadow: 0 -1px 3px black;
    font-size: 0;
    &.active{
      display: block;
    }
    
    ul{
      width:      100%;
      margin: 0;
      padding: 0;
      li{
        width: 25%;
        display: inline-block;
        margin: 0;
        padding: 15px 0;
        color: white;
        font-weight: bold;
        font-size: 10px;
        border: 1px solid #202C38;
        border-top: none;
        border-bottom: none;
        box-sizing: border-box;
      }
    }

  }
}

.area_value{
  $padding_left: 100px;
  text-align: left;
  width: 100%;
  padding-right: $padding_left;
  position: relative;
  box-sizing: border-box;
  min-height: 35px;
  margin: 20px 0;
  .info_left{
    position: absolute;
    top: 0;
    right: 0;
    width: $padding_left;
    height: 100%;
    text-align: right;
  }
  .item{
    color: gray;
    font-weight: light;
  }
  .scroll_div{
    height: 2px;
    background-color: blue;
  }
  .value_item{
    width: 80%;
    border: 1px solid gray;
  }
}

.unit{
  color: gray;
  font-size: 10px;
  font-weight: lighter;
  &:after{content:']';}
  &:before{content:'[';}
  &.bold{
    font-weight: bold;
    font-size: 8px;
  }
}

.resuslts{
  width: 100%;
  font-size: 14px;
  td{width: 50%; height: 60px;vertical-align: top;}
  .result{
    font-size: 20px;
    font-weight: bold;
  }

}

.sieves_mesh{
  width: 100%;
  border: 1px solid #34495e;
  thead{
    font-size: 12px;
    background-color: #34495e;
    color: white;
  }
  .one,.two{
    width: 30%;
  }
  .three{
    width: 40%;
  }
  tbody{
    tr{
      &:nth-child(even){
        background-color: #ecf0f1;
      }
    }
  }
}

