@charset "utf-8";
@import 'mixin';
@import 'jquery.nouislider.min';

@media all and (max-height: 300px){
  .bottom_nav{
    display: none!important;
  }
}

html, body {
    margin: 0;
    width: 100%;
    min-height: 100%;
}
body {
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .backgrounds{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
    &.active{opacity: 1;}
  }
  &.back_1, .back_1{
    background: asset-url('fondo1.JPG',image) center center no-repeat;
    background-size: cover;
  }
  &.back_2, .back_2{
    background: asset-url('fondo2.JPG',image) center center no-repeat;
    background-size: cover;
  }
  &.back_3, .back_3{
    background: asset-url('fondo3.jpg',image) center center no-repeat;
    background-size: cover;
  }
  &.back_4, .back_4{
    background: asset-url('fondo4.jpg',image) center center no-repeat;
    background-size: cover;
  }
  &.back_5, .back_5{
    background: asset-url('fondo5.jpg',image) center center no-repeat;
    background-size: cover;
  }
  &.back_6, .back_6{
    background: asset-url('fondo6.jpg',image) center center no-repeat;
    background-size: cover;
  }
  &.back_7, .back_7{
    background: asset-url('fondo7.jpg',image) center center no-repeat;
    background-size: cover;
  }
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
h2{
  font-size: 18px;
  color: gray;
  font-weight: bold;
}
.left{text-align: left;}
.right{text-align: right;}
.wrapper{
  background: url('http://www.8pic.ir/images/00593862008515728068.jpg') center center no-repeat;
  background-size: cover;
  min-height: 1000px;
  position:  relative;
}

.show_actions{
  position: absolute;
  z-index: 10;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  bottom: -2000px;
  overflow: hidden;
  height: 0;
  @include transition(bottom, 0.3s);
  &.active{
    height: 100%;
    bottom: 0px;
    @include transition(bottom, 0.3s); 
  }
  .insert_action{
    margin-top: 68px;
    padding: 0;
    overflow: scroll;
    max-height: 100%;
    box-sizing: border-box;
    padding-bottom: 115px;
  }
  .bottom_nav{
    background-color: #2c3e50;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    display: none;
    box-shadow: 0 -1px 3px black;
    font-size: 0;
    z-index: 100;
    &.active{
      display: block;
    }
    
    ul{
      width:      100%;
      margin: 0;
      padding: 0;
      li{
        width: 25%;
        display: inline-block;
        margin: 0;
        padding: 15px 0;
        color: white;
        font-weight: bold;
        font-size: 10px;
        border: 1px solid #202C38;
        border-top: none;
        border-bottom: none;
        box-sizing: border-box;
      }
    }

  }
}

.area_value{
  $padding_left: 100px;
  text-align: left;
  width: 100%;
  padding-right: $padding_left;
  position: relative;
  box-sizing: border-box;
  min-height: 35px;
  margin: 20px 0;
  .info_left{
    position: absolute;
    top: 0;
    right: 0;
    width: $padding_left;
    height: 100%;
    text-align: right;
  }
  .item{
    color: gray;
    font-weight: light;
  }
  .scroll_div{
    height: 2px;
    background-color: blue;
  }
  .value_item{
    width: 80%;
    border: 1px solid gray;
  }
}

.unit{
  color: black;
  font-size: 10px;
  font-weight: lighter;
  &:after{content:']';}
  &:before{content:'[';}
  &.bold{
    font-weight: bold;
    font-size: 8px;
  }
}

.resuslts{
  width: 100%;
  font-size: 14px;
  td{width: 50%; height: 60px;vertical-align: top;}
  .result{
    color: #2980b9;
    font-size: 20px;
    font-weight: bold;
  }

}

.sieves_mesh{
  width: 100%;
  border: 1px solid #34495e;
  thead{
    font-size: 12px;
    background-color: #34495e;
    color: white;
  }
  .one,.two{
    width: 30%;
  }
  .three{
    width: 40%;
  }
  tbody{
    tr{
      &.light{
        background-color: #80C5F3!important;
        color: white;
      }
      &:nth-child(even){
        background-color: #ecf0f1;
      }
    }
  }
}

.all_views{
  display: none;
}

.disclaimer{
  text-align: justify;
  padding: 10px 5px;
}

.contact{
  text-align: left;
  padding: 10px 0px;
  .label{
    background-color: #27ae60;
    color: white;
    font-weight: bold;
    padding: 2px 5px;
  }
  .zone{
    padding: 15px 20px;
    .city{color: #2980b9; padding-bottom: 15px;}
    .number{}
    .mail{text-decoration: underline}
  }
}




input[type="range"]{
  width:80%; 
  height:40px;

}
input::-webkit-slider-thumb {  
    -webkit-appearance: none;   
    /* position the button on top of everything */  
    z-index: 100;  
    position: relative;  
    width: 40px;  
    height: 40px;  
    -webkit-border-radius: 10px;  
    border-radius: 10px;  
    /* arrow and button gradient */  
    background-image: asset-url('slider-thumb.png',image);
    background-repeat: no-repeat;  
    background-position: 50%;  
}  


