@charset "utf-8";
@import 'header';
@import 'mixin';
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
body {
  background: asset-url('fondo1.JPG',image) center center no-repeat;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
}
.wrapper{
  background: url('http://www.8pic.ir/images/00593862008515728068.jpg') center center no-repeat;
  background-size: cover;
  min-height: 1000px;
  position:  relative;
}

.show_actions{
  position: absolute;
  z-index: 10;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  bottom: -2000px;
  @include transition(bottom, 0.3s);
  &.active{
    bottom: 0px;
    @include transition(bottom, 0.3s); 
  }
  .insert_action{
    margin-top: 90px;
  }
  .bottom_nav{
    background-color: #2c3e50;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    box-shadow: 0 -1px 3px black;
    font-size: 0;
    ul{
      width:      100%;
      margin: 0;
      padding: 0;
      li{
        width: 25%;
        display: inline-block;
        margin: 0;
        padding: 15px 0;
        color: white;
        font-weight: bold;
        font-size: 10px;
        border: 1px solid #202C38;
        border-top: none;
        border-bottom: none;
        box-sizing: border-box;
      }
    }

  }
}

