<!doctype html>
%html
  %head
    %meta{charset: "utf-8"}
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    %meta{content:"IE=edge,chrome=1", "http-equiv"=>"X-UA-Compatible"}
    %meta{name: "viewport", content: "initial-scale=1, maximum-scale=1"}
    
    <!-- Use title if it's in the page YAML frontmatter -->
    %title= data.page.title || "The Middleman"

    = stylesheet_link_tag "normalize", "all", "header", "principal"
    = javascript_include_tag  "all"
  
  %body{class: page_classes}
    .show_actions
      .bottom_nav
        %ul
          %li{data: {action: "back"}} Back
          %li{data: {action: "back"}} Discaimer
          %li{data: {action: "back"}} Help
          %li{data: {action: "back"}} Contact Us
      .insert_action
        Hola
    %header
      =image_tag 'logo.png', width: 300
      .subtitle_nav Basic Tool


    .button_area
      %table
        %tr
          %td
            %button.buttton_principal{data: {path: asset_url('views/mass_balance'), title: "Mass Balance & Density"}} 
              Mass Balance
          %td
            %button.buttton_principal{data: {path: asset_url('views/water_pipe'), title: "Water Pipe Friction Losss"}} 
              Water Pipe Friction Loss
        %tr
          %td
            %button.buttton_principal{data: {path: asset_url('views/yield_stress'), title: "Yield Stress Estimate"}} 
              Yield Stress Estimate
          %td
            %button.buttton_principal{data: {path: asset_url('views/sieve_mesh'), title: "Sieves Mesh Sizes"}} 
              Sieve Mesh Sizes (table)
      