<!doctype html>
%html
  %head
    %meta{charset: "utf-8"}
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    %meta{content:"IE=edge,chrome=1", "http-equiv"=>"X-UA-Compatible"}
    %meta{name: "viewport", content: "user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"}
    %meta{name: "apple-mobile-web-app-capable", content:"yes"}
    %meta{name: "apple-mobile-web-app-status-bar-style", content: "black"}

    <!-- Use title if it's in the page YAML frontmatter -->
    %title Paterson & Cooke

    = stylesheet_link_tag "normalize", "all", "header", "principal"
    = javascript_include_tag  "all"

  %body{class: 'back_1'}
    .backgrounds.back_1.active
    .backgrounds.back_2
    .backgrounds.back_3
    .backgrounds.back_4
    .backgrounds.back_5
    .backgrounds.back_6
    .backgrounds.back_7
    .backgrounds.back_8
    .show_actions
      .bottom_nav
        %ul
          %li{data: {action: "back"}} Back
          %li{data: {action: "disclaimer"}} Disclaimer
          %li{data: {action: "contact"}} Contact Us
      .insert_action

    %header
      =image_tag 'logo.png', width: 300
      .subtitle_nav Basic Tools
      / .noUiSlider

    .button_area
      %table
        %tr
          %td
            %button.buttton_principal{data: {selector: '#mass_balance', title: "Mass Balance"}}
              Mass Balance
          %td
            %button.buttton_principal{data: {selector: '#water_pipe', title: "Water Pipe Friction Loss"}}
              Water Pipe Friction Loss
        %tr
          %td
            %button.buttton_principal{data: {selector: '#yield_stress', title: "Slamp Yield Stress"}}
              Slamp Yield Stress Estimate
          %td
            %button.buttton_principal{data: {selector: '#sieve_mesh', title: "Sieve Mesh Sizes"}}
              Sieve Mesh Sizes
        %tr
          %td
            %button.others_button{data: {selector: '#disclaimer', title: "Disclaimer"}}
              .icon.disclaimers
              %span Disclaimer
          %td
            %button.others_button{data: {selector: '#contact', title: "Contact"}}
              .icon.contactus
              %span Contact Us

    .all_views
      #mass_balance
        =render(:haml, 'views/mass_balance')
      #water_pipe
        =render(:haml, 'views/water_pipe')
      #yield_stress
        =render(:haml, 'views/yield_stress')
      #sieve_mesh
        =render(:haml, 'views/sieve_mesh')
      #disclaimer
        =render(:haml, 'views/others/disclaimer')
      #contact
        =render(:haml, 'views/others/contact')
