%h2.left
	Select Values

.area_value
	.item Solids Tonnage:
	.info_left
		%input.value_1.value_item{value: '100000'} 
		.unit Tonnes / day


.area_value
	.item Conc. of Solids:
	%input{type:"range", name:"slider-2", id: "slider-2", value: "60", min:"1", max:"85"}
	.info_left
		%input.value_2.value_item{value: '60'} 
		.unit %


.area_value
	.item Solids Spec Weight:
	.info_left
		%input.value_3.value_item{value: '2.65'} 

%table.resuslts
	%tr
		%td
			Slurry Flow Rate:
			.result.slurry_rate 4350
		%td
			Water Flow Rate
			.result.water_rate 2777
	%tr
		%td
			Slurry Density
			.result.density 1.596
		%td
			Volum. Concentration
			.result.vol_concent 36.1%

