.area_value
	.item Solids tonnage:
	.info_left
		%input.value_1.value_item{value: "100,000"}
		.unit tonnes / day


.area_value
	.item Conc. of solids:
	%input{type:"range", name:"slider-2", id: "slider-2", value: "60", min:"0", max:"85", step: "0.5"}
	.info_left
		%input.value_2.value_item.scrolling{value: '60', data:{scroll: "#slider-2"}}
		.unit % by mass


.area_value
	.item Solids spec. density:
	.info_left
		%input.value_3.value_item{value: '2.65'}

%table.resuslts
	%tr
		%td
			Slurry Flow Rate
			.content_box_result
				.result.slurry_rate.inline 4,350
				-unit = "<div class='to_up_indice'>m<div class='super_indice'>3</div></div>/h"
				%span.unit= unit
		%td
			Water Flow Rate
			.content_box_result
				.result.water_rate.inline 2,777
				-unit = "<div class='to_up_indice'>m<div class='super_indice'>3</div></div>/h"
				%span.unit=unit
	%tr
		%td
			Slurry Density
			.content_box_result
				.result.density.inline 1.596
				-unit = "t/<div class='to_up_indice'>m<div class='super_indice'>3</div></div>"
				%span.unit=unit
		%td
			Vol Concentration
			.result.vol_concent 36.1%

.notes *Water density 1.000 T/m3
.notes *Tones: Metrics tones


