.area_value
	.item Solids tonnage:
	.info_left
		%input.value_1.value_item{value: "100,000"}
		.unit tonnes / day


.area_value
	.item Conc. of solids:
	%input{type:"range", name:"slider-2", id: "slider-2", value: "60", min:"0", max:"85", step: "0.5"}
	.info_left
		%input.value_2.value_item.scrolling{value: '60', data:{scroll: "#slider-2"}}
		.unit % by mass


.area_value
	.item Solids spec. density:
	.info_left
		%input.value_3.value_item{value: '2.65'}

%table.resuslts
	%tr
		%td
			Slurry Flow Rate
			.result.slurry_rate 4,350
			%span.unit m3/h
		%td
			Water Flow Rate
			.result.water_rate 2,777
			%span.unit m3/h
	%tr
		%td
			Slurry Density
			.result.density 1.596
			%span.unit t/m3
		%td
			Vol Concentration
			.result.vol_concent 36.1%


