.area_value
	.item Flow Rate:
	.info_left
		%input.value_1.value_item{value: '500'}
		-unit = "<div class='to_up_indice'>m<div class='super_indice'>3</div></div>/h"
		.unit=unit


.area_value
	.item Outside Pipe Diam:
	%input{type:"range", name:"slider-2", id: "slider-2", value: "508", min:"1", max:"3000"}
	.info_left
		%input.value_2.value_item.scrolling{value: '320', data:{scroll: "#slider-2"}}
		.unit mm


.area_value
	.item Pipe wall thickness:
	.info_left
		%input.value_3.value_item{value: '10'}
		.unit mm

.area_value
	.item Pipe wall roughness:
	.info_left
		%input.value_4.value_item{value: '50'}
		.unit microns

%table.resuslts
	%tr
		%td
			Pipe Inside Diameter
			.content_box_result
				.result.inside_diamter.inline 488
				%span.unit mm
		%td
			Flow Velocity
			.content_box_result
				.result.flow_velocity.inline 1.965
				%span.unit m/s
	%tr
		%td
			Friction Factor
			.result.friction_factor 0.0043
		%td
			Head Loss
			.content_box_result
				.result.head_loss.inline 0.2629
				%span.unit m/m

	%tr
		%td
			Reynolds Number
			.result.reynolds_number 1.8704e+8

