.area_value
	.item Flow Rate:
	.info_left
		%input.value_1.value_item{value: '2777'} 
		.unit m3 / h


.area_value
	.item Pipe Diameter(out.):
	%input{type:"range", name:"slider-2", id: "slider-2", value: "508", min:"1", max:"3000"}
	.info_left
		%input.value_2.value_item{value: '508'} 
		.unit mm


.area_value
	.item Pipe wall thickness:
	.info_left
		%input.value_3.value_item{value: '10'} 
		.unit mm

.area_value
	.item Pipe wall roughness:
	.info_left
		%input.value_4.value_item{value: '50'} 
		.unit microns

%table.resuslts
	%tr
		%td
			Pipe Inside Diameter:
			.result.inside_diamter 488
			.unit mm
		%td
			Flow Velocity
			.result.flow_velocity 383.27
			.unit m/s
	%tr
		%td
			Friction Factor
			.result.friction_factor 0.0043
		%td
			Water Unit. Head Loss
			.result.head_loss 0.2629

	%tr
		%td
			Reynolds Number
			.result.reynolds_number 1.8704e+8
	
