.area_value
	.item Cylinder Height:
	.info_left
		%input.value_1.value_item{value: '100'}
		.unit mm


.area_value
	.item Measured Slump Height
	%input{type:"range", name:"slider-2", id: "slider-2", value: "50", min:"0", max:"99"}
	.info_left
		%input.value_2.value_item{value: '50'}
		.unit mm


.area_value.no_margin
	.item Slurry Density
	.info_left
		%input.value_3.value_item{value: '1,600'}
		.unit kg/m3

%table.resuslts
	%tr
		%td
			Yield Stress of the Slurry
			.result.yield_stress 146.5
			.unit Pa
=image_tag 'yield_stress.png', width: 300
